<mat-tab-group [selectedIndex]="value" #tabGroup (focusChange)="tabChanged($event)">
    <mat-tab label="Cabeza" class="animated fadeIn">
        <br> 
        <div class="col-12 tcenter animated fadeIn"  *ngIf="cargando" > 
                <i class="fas fa-spinner fa-3x fa-spin"></i>      
        </div>
     <div class="labelmat"> <mat-label>RUTEO </mat-label>       
    </div>   
  
      <section > 
          <button [disabled]="cargando" class="button"  *ngFor="let list of dataSourcedata" (click)="btnRuteos(list.ruteoId)" ><b >{{list.ruteoConsecutivo}} </b> </button>
       </section>                 
    </mat-tab>
    <mat-tab  label="Captura" class="animated fadeIn">
        <br>
        <div class="tcenter animated fadeIn"  *ngIf="cargando" > 
                <i class="fas fa-spinner fa-3x fa-spin"></i>       
             </div>
    <div style="border: 1px solid;">
     <div class="labelmat"> <mat-label>PRODUCTO </mat-label> 
   
    </div>   
     <div class="text"> <mat-label>{{productoCodigo}} - {{productoNombre}} </mat-label> </div>   
    </div>
 <br>
 
 <div class="text" > <mat-label> UBICACIÓN </mat-label> </div>   
        <table  #table mat-table [dataSource]="dataSource">     

          <ng-container matColumnDef="v1">
            <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">B</mat-label> </th>
            <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v1}} </mat-label> </td>
          </ng-container>
          <ng-container matColumnDef="v2">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">A</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v2}} </mat-label> </td>
       
          </ng-container>
          <ng-container matColumnDef="v3">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">C</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v3}} </mat-label> </td>
         
          </ng-container>

          <ng-container matColumnDef="v4">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">M</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v4}} </mat-label> </td>
       
          </ng-container>

          <ng-container matColumnDef="v5">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">N</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v5}} </mat-label> </td>
        
          </ng-container>

          <ng-container matColumnDef="v6">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">F</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v6}} </mat-label> </td>
          
          </ng-container>

          <ng-container matColumnDef="v7">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">K</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v7}} </mat-label> </td>

          </ng-container>
          <ng-container matColumnDef="v8">
              <th mat-header-cell *matHeaderCellDef> <mat-label class="Estilo_Cabecera">P</mat-label> </th>
              <td mat-cell *matCellDef="let p"> <mat-label class="Estilo_Detalle">{{p.v8}} </mat-label> </td>
       
          </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2; let i = index"    [className] ="valueclass==3 ? 'Estilo_Detalle' : (valueCont==1? 'Estilo_Detalle3': (i==0 ? 'Estilo_Detalle':'Estilo_Detalle2' ) )" ></tr>
      </table>   
      <br> 
 
      <button mat-raised-button class="button_Captura buttoncap" (click)="BtnCaptura('juan')"[disabled]="!productoCodigo" >Capturar</button>
    
            <button mat-raised-button class="button_Procesar buttoncap" [disabled]="buttoprocesar" (click)="BtnProcesar()" >Procesar</button>
 
      <button mat-raised-button class="button_Cerrar buttoncap"[disabled]="!productoCodigo"  (click)="openDialogOrden()">Orden</button>
      <button mat-raised-button class="button_Cerrar buttoncap" (click)="openDialogNovedad()"[disabled]="!productoCodigo" >Novedad</button>
    </mat-tab>
    <mat-tab label="Packing" >
        <br> 
     <div class="labelmat"> <mat-label>Packing </mat-label> </div>         
              
    </mat-tab>

  </mat-tab-group>



  



  