
<body >
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a [className] ="vcambio == 1 ? 'nav-link active' : 'nav-link'" (click)="btncabeza()" id="nav-cabeza-tab" data-toggle="pill" href="#nav-cabeza"  role="tab" aria-controls="nav-cabeza" aria-selected="true">Cabeza</a>
            </li>
            <li class="nav-item">
                <a [className] ="vcambio == 2 ? 'nav-link active' : 'nav-link'" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Captura</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div [className] ="vcambio == 1 ? 'tab-pane fade show active' : 'tab-pane fade'" id="nav-cabeza" role="tab" aria-labelledby="nav-cabeza-tab">
                 <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                        <h3><b>Ruteos</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">  
                            <div *ngFor="let ruteo of ruteos" >                              
                                    <button  class="btn  btn-primary btn-block m-1"  (click)="btnRuteos(ruteo.RuteoId)">{{ruteo.RuteoConsecutivo}}</button>                                  
                            </div>  
                    </div>
                </div>
            </div>
            <div [className] ="vcambio == 2 ? 'tab-pane fade show active' : 'tab-pane fade'"  id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">  
                    <div class="tab-pane" id="nav-captura" role="tabpanel" aria-labelledby="nav-captura-tab">
                            <div id="error" class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center label-warning" id="txtResultado">
                                    <label id="lblResultadoError" class="text-warning"></label>
                                </div>
                            </div>
                            <div class="row bg-info" id="divUbi">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                                    <h5> UBICACIÓN</h5>
                                </div>
                                <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center hidden" style="margin:0 !important" id="txtUbi"></h4>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                                    <table style="width:100%">
                                        <tr>
                                            <td class="TdUbicacionTitulo">B</td>
                                            <td class="TdUbicacionTitulo">A</td>
                                            <td class="TdUbicacionTitulo">C</td>
                                            <td class="TdUbicacionTitulo">M</td>
                                            <td class="TdUbicacionTitulo">N</td>
                                            <td class="TdUbicacionTitulo">F</td>
                                            <td class="TdUbicacionTitulo">K</td>
                                            <td class="TdUbicacionTitulo">P</td>
                                        </tr>
                                        <tr>
                                            <td class="TdUbicacionValor" id="txtUbiB">{{v1}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiA">{{v2}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiC">{{v3}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiM">{{v4}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiN">{{v5}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiF">{{v6}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiK">{{v7}}</td>
                                            <td class="TdUbicacionValor" id="txtUbiP">{{v8}}</td>
                                        </tr>
                                    </table>
                                </div>
                
                            </div>
                            <div class="row bg-info" id="divProd">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                                    <h6> PRODUCTO <br/> {{picking[0].productoCodigo}} {{picking[0].productoNombre}}</h6>
                                </div>
                                <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 !important" id="txtProd"></h4>
                            </div>
                            <br />
                            <div class="row bg-info" id="divUbi">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="background:#00c7ff">
                                    <h5> UBICACIÓN CAPTURADA </h5>
                                </div>
                                <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center hidden" style="margin:0 !important" id="txtUbi"></h4>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="background:#00c7ff">
                                    <table style="width:100%">
                                        <tr style="display:none">
                                            <td class="TdUbicacionTitulo2">B</td>
                                            <td class="TdUbicacionTitulo2">A</td>
                                            <td class="TdUbicacionTitulo2">C</td>
                                            <td class="TdUbicacionTitulo2">M</td>
                                            <td class="TdUbicacionTitulo2">N</td>
                                            <td class="TdUbicacionTitulo2">F</td>
                                            <td class="TdUbicacionTitulo2">K</td>
                                            <td class="TdUbicacionTitulo2">P</td>
                                        </tr>
                                        <tr>
                                            <td  [className] ="cv1 != v1 && cv1 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'" id="B">{{cv1}}</td>
                                            <td [className] ="cv2 != v2 && cv2 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="A">{{cv2}}</td>
                                            <td [className] ="cv3 != v3 && cv3 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="C">{{cv3}}</td>
                                            <td [className] ="cv4 != v4 && cv4 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="M">{{cv4}}</td>
                                            <td [className] ="cv5 != v5 && cv5 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="N">{{cv5}}</td>
                                            <td [className] ="cv6 != v6 && cv6 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="F">{{cv6}}</td>
                                            <td [className] ="cv7 != v7 && cv7 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="K">{{cv7}}</td>
                                            <td [className] ="cv8 != v8 && cv8 != null ? 'TdUbicacionValor3' : 'TdUbicacionValor2'"  id="P">{{cv8}}</td>
                                        </tr>
                                    </table>
                                    <br />
                                </div>
                
                            </div>
                
                            <br>
                            <div class="row">
                
                                    <div class="col-md-12">
                                            
                                                <button type="button" class="btn btnazul text-dark border textresponsive"   id="btnCapturar" (click)="BtnCaptuta('juan')">CAPTURAR</button>
                                                <button type="button"  class="btn btngris  text-dark border textresponsive" id="btnProcesar" onclick="Obj_Pick.Capturar()">PROCESAR</button>
                                                <button type="button" class="btn btnverde  text-dark border textresponsive"  id="btnCapturar" onclick="$('#ModalCambiarOrden').modal('show');">ORDEN</button>
                                                <button type="button"  class="btn btnrojo  text-dark border textresponsive"  id="btnNovedad" onclick="javascript: Obj_Pick.GenerarNovedad()">NOVEDAD</button>
                                                        
                                    </div>
                        
                                </div>
                
                            <div class="row bg-naranja" style="margin-top:10px" id="divRes">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" id="txtRes">
                
                                </div>
                                <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 !important" id="txtBahia"></h4>
                            </div>
                        </div>
            </div>
        </div>
<!-- Modal Principal -->
    <div class="modal fade" id="ModalCambiarOrden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title" title="Cambio Ubicacion">Cambio</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">&times;</span></button>
                </div>
                <br>             
                    <div class="col-md-12 btn-group">
                        <div class="col-md-6">
                                <button type="button" id="BtnCamUbicacionReintentar" class=" btnleft btn btn-primary btn-lg " onclick="javascript: Obj_Pick.ConsultarBahias();" title="Cambiar">Bahia</button>
                        </div>
                        <div class="col-md-6">
                                <button type="button" id="Button2" class="btnright btn btn-success btn-lg" title="Producto" onclick="javascript: Obj_Pick.ConsultarProductos();">Producto</button>
                        </div>
                    </div>
              
                <div class="center modal-body">                                          
                            <div class="col-md-12 ">
                                  <button type="button" id="BtnLimpiarFiltros" class="btn btn-primary btn-block"  data-dismiss="modal" onclick="javascript: Obj_Pick.LimpiarFiltros();" title="Limpiar filtrar">Limpiar Filtros</button>
                                <button type="button" id="Button2" class="btn btn-danger btn-block"  title="Cancelar" onclick="$('#ModalCambiarOrden').modal('hide');">Cancelar</button>
                            </div>                     
                  
                </div>
            </div>
        </div>
    </div>
<!-- Modal bahia -->
    <div class="modal fade" id="ModalCambiarOrdenBahia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title" title="Cambio Ubicacion">Cambio de Bahia</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">&times;</span></button>
                </div>
                    <br>
                   
                    <div class="col-md-12">              
                        <div class="form-group" >                        
                          <select class="form-control sizedrop"  id="SelectBahia">
                                <option  value="0">Seleccione la bahia</option>
                                <option value="Bahia1">Bahia1</option>
                                <option value="Bahia2">Bahia2</option>
                                <option value="Bahia3">Bahia3</option>
                                <option value="Bahia4">Bahia4</option>
                                <option value="Bahia5">Bahia5</option>
                                <option value="Bahia6">Bahia6</option>
                                <option value="Bahia7">Bahia7</option>
                                <option value="Bahia8">Bahia8</option>
                          </select>
                        </div>                        
                    </div>    
                
                <div class="center modal-body">                   
                        <div class="col-md-12" >
                            <button type="button" id="BtnCamUbicacionReintentar" class="btn btn-primary btn-block"  onclick="javascript: Obj_Pick.CambiarBahia();" title="Cambiar">Cambiar</button>
                            <button type="button" id="Button2"class="btn btn-danger btn-block"  title="Cancelar" onclick="$('#ModalCambiarOrdenBahia').modal('hide');">Cancelar</button>
                        </div>                   
                </div>
            </div>
        </div>
    </div>

    <!-- Modal productos -->
    <div class="modal fade" id="ModalCambiarOrdenProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title" title="Cambio Ubicacion">Producto Cambio</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="col-md-12">
                     <br>                    
                        <label >Filtro </label>
                        <input id="txtfiltroproducto" class="form-control " placeholder="ProductoCodigo/ProductoNombre"  onchange="javascript: Obj_Pick.FiltrarProducto();" />
                       <br>
                        <select class="form-control " id="SelectProducto">
                            <option value="0">Seleccione el producto</option>
                            
                        </select>                    
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <button type="button" id="BtnCamUbicacionReintentar" class="btn btn-primary btn-block"  data-dismiss="modal" onclick="javascript: Obj_Pick.CambiarProducto();" title="Cambiar">Cambiar</button>
                            <button type="button" id="Button2" class="btn btn-danger btn-block"  title="Cancelar" onclick="$('#ModalCambiarOrdenProducto').modal('hide');">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="../../../assets/BlackSys.js"></script>
    
</body>

