<body>
   
                
                <div class="row">
                  <div class="col-2 m-1">
                    <label for="">valor 1</label>
                    <select  class="form-control" id="SelectProducto" name="SelectProducto"  >
                            <option selected="true" value="0">Select </option>                          
                            <option value="1">Select 2</option>                          
                            <option value="2">Select 3 </option>                          
                            <option value="3">Select 4</option>                          
                            <!-- <option *ngFor="let producto of productos"  [value]=producto.productoId>{{producto.productoCodigo}} {{producto.productoDescripcion}}</option>                           -->
                            
                        </select>      

                  </div>
                  
                  <div class="col-3 m-1  ">
                   <label for="">valor 2</label>                  
                        <button  type="button">
                        <i class="fa fa-search"></i>
                      </button>
                     
                  </div>
                  <div class="col-3 m-1">
                        <label for="">valor 3</label>
                        
                  </div>
                </div>
  
    <div class="col-md-12"></div>
</body>