
<div class="row">
        <div class="col-6">
        <button class="btn btn-primary" (click)="prerutear()">pre-ruteo</button>
      
        </div>
        <div class="col-6 text-right">
            <a class="nav-link dropdown-toggle " href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
              </a>
        </div>
        <br>
      
      </div>
      <div class="w-100"  > 
      <mat-form-field> 
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
      
              <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                          Select </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(row) : null" [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                  </td>
              </ng-container>   
      
     'ubicacionFisicaId', 'tipoUbicacionId', 'tipoUbicacion',
  'ubicacionFisica'];         
      
              <!-- Position Column -->
              <ng-container matColumnDef="ubicacionId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionId}} </td>
              </ng-container>
      
              <!-- Name Column -->
              <ng-container matColumnDef="ubicacionCodigo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionCodigo </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionCodigo}} </td>
              </ng-container>
      
              <!-- Weight Column -->
              <ng-container matColumnDef="ubicacionEtiqueta">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionEtiqueta </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionEtiqueta}} </td>
              </ng-container>
      
              <!-- Symbol Column -->
              <ng-container matColumnDef="ubicacionDescripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionDescripcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionDescripcion}} </td>
              </ng-container>
              <ng-container matColumnDef="ubicacionEstado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionEstado </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionEstado}} </td>
              </ng-container>
              <ng-container matColumnDef="ubicacionFisicaId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionFisicaId </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionFisicaId}} </td>
              </ng-container>
              <ng-container matColumnDef="tipoUbicacionId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> tipoUbicacionId </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoUbicacionId}} </td>
                </ng-container>
                <ng-container matColumnDef="tipoUbicacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> tipoUbicacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoUbicacion}} </td>
                    </ng-container>
              <ng-container matColumnDef="ubicacionFisica">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ubicacionFisica </th>
                  <td mat-cell *matCellDef="let element"> {{element.ubicacionFisica}} </td>
              </ng-container>
            
           
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
              </tr>
          </table>
      
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      </div>