<div class="row">
  <br>
  <div class="col-12 tcenter siz">
    RUTEAR
  </div>
  <div class="col-12 tcenter animated fadeIn" *ngIf="cargando">
    <i class="fas fa-spinner fa-3x fa-spin"></i>

  </div>
</div>
<div class="animated fadeIn">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div style="overflow:auto" class="mat-elevation-z8 ">
   
  
  </div>
  <div>

    <mat-accordion displayMode="flat" multi class="mat-table">
      <section matSort class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell">

          <mat-checkbox style="padding-top: 10px" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </span>
        <span class="mat-header-cell" mat-sort-header="preRuteoId">preRuteo Id</span>
        <span class="mat-header-cell" mat-sort-header="preRuteoFecha">preRuteo Fecha</span>
        <span class="mat-header-cell" mat-sort-header="preRuteoUsuario">preRuteo Usuario</span>
        <span class="mat-header-cell" mat-sort-header="preRuteoConsecutivo">preRuteo Consecutivo</span>
        <span class="mat-header-cell" mat-sort-header="documentoId">documentoId</span>


        <span class="mat-header-cell">Ver Detalle</span>
        <span class="mat-header-cell">Configurar ruteo</span>


      </section>

      <mat-expansion-panel [disabled]="true" #mep="matExpansionPanel" *ngFor="let preRuteo of preRuteoList">

        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell">
            <mat-checkbox style="padding-top: 10px " (change)="$event ? toggle(preRuteo) : null"
              [checked]="selection.isSelected(preRuteo)">
            </mat-checkbox>
          </span>
          <span class="mat-cell">{{preRuteo.preRuteoId}}</span>
          <span class="mat-cell">{{preRuteo.preRuteoFecha}}</span>
          <span class="mat-cell">{{preRuteo.preRuteoUsuario}}</span>
          <span class="mat-cell">{{preRuteo.preRuteoConsecutivo}}</span>
          <span class="mat-cell">{{preRuteo.documentoId}}</span>
          <span class="mat-cell">
            <mat-icon (click)="mep.expanded = !mep.expanded" aria-label="Detalles">
              <i class="fas fa-align-justify">
              </i>
            </mat-icon>
          </span>

          <span class="mat-cell">
            <mat-icon  (click)="mep.expanded = !mep.expanded; $event ? getpedidosPreruteo(preRuteo) : null" aria-label="Configurar">
              <i class="fas fa-cogs">
              </i>
            </mat-icon>
          </span>
        </mat-expansion-panel-header>
        
       
        <div class='md-padding' layout="row" flex>
          <div class='md-padding' layout="row" flex>
              <mat-toolbar>
                  <span class="title-center">Asignación de bahías y orden pedidos</span>
                </mat-toolbar>
            <mat-accordion [displayMode]="flat" [multi]="false" class="mat-table">
              <section matSort class="mat-elevation-z2 mat-header-row">
                
                  <span class="mat-header-cell" mat-sort-header="preRuteoId">PreRuteo Id</span>
                <span class="mat-header-cell" mat-sort-header="pedidoId">Pedido Id</span>
                <span class="mat-header-cell" mat-sort-header="pedidoConsecutivo">pedido consecutivo</span>
                 <span class="mat-header-cell" mat-sort-header="bahiaId">Bahías</span>
                 <span class="mat-header-cell" mat-sort-header="Orden">Orden pedido ruteo</span>
              <!--  <span class="mat-header-cell" mat-sort-header="Orden">Orden ruteo pedido</span> -->
              </section>

              <mat-expansion-panel [disabled]="true" *ngFor="let pedidoPreRuteo of preRuteo.pedidosBahiasOrdenItems">

                <mat-expansion-panel-header class="mat-row">
                    <span class="mat-cell">{{preRuteo.preRuteoId}}</span>
                  <span class="mat-cell">{{pedidoPreRuteo.pedidoId}}</span>
                  <span class="mat-cell">{{pedidoPreRuteo.pedidoConsecutivo}}</span>
                  <span class="mat-cell">
                      <div flex>
                          <mat-form-field>
                      <mat-label>Bahias</mat-label>
                      <mat-select [(ngModel)]="pedidoPreRuteo.bahiaId">
                        <mat-option *ngFor="let bahia of bahiasList" [value]="bahia.ubicacionId" >
                          {{bahia.ubicacionDescripcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div></span>
                  <span class="mat-cell">
                      <div flex>
                          <mat-form-field>
                      <mat-label>Orden pedido ruteo</mat-label>
                      <mat-select >
                        <mat-option *ngFor="let orden of CantidadPedidosList" [value]="orden" >
                          {{orden}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div></span>
                  
                </mat-expansion-panel-header>



              </mat-expansion-panel>


            </mat-accordion>
          </div>



          <div class='md-padding' layout="row" flex>
              <mat-toolbar>
                  <span class="title-center">Asignación de grupos</span>
                </mat-toolbar>
            <mat-accordion [displayMode]="flat" [multi]="false" class="mat-table">
              <section matSort class="mat-elevation-z2 mat-header-row">
                <span class="mat-header-cell">

                  <mat-checkbox style="padding-top: 10px" (change)="$event ? masterToggleGrupos() : null"
                    [checked]="selectionGrupo.hasValue() && isAllSelectedGrupos()"
                    [indeterminate]="selectionGrupo.hasValue() && !isAllSelectedGrupos()">
                  </mat-checkbox>
                </span>
                <span class="mat-header-cell" mat-sort-header="grupoId">Id</span>
                <span class="mat-header-cell" mat-sort-header="grupoCodigo">Codigo</span>
                <span class="mat-header-cell" mat-sort-header="grupoNombre">Nombre</span>

              </section>

              <mat-expansion-panel [disabled]="true" *ngFor="let grupo of grupoList">

                <mat-expansion-panel-header class="mat-row">
                  <span class="mat-cell">
                    <mat-checkbox style="padding-top: 10px " (change)="$event ? toggleGrupo(grupo) : null"
                      [checked]="selectionGrupo.isSelected(grupo)">
                    </mat-checkbox>
                  </span>
                  <span class="mat-cell">{{grupo.grupoId}}</span>
                  <span class="mat-cell">{{grupo.grupoCodigo}}</span>
                  <span class="mat-cell">{{grupo.grupoNombre}}</span>


                </mat-expansion-panel-header>



              </mat-expansion-panel>


            </mat-accordion>
          </div>
        </div>


      </mat-expansion-panel>


    </mat-accordion>




  </div>




</div>